img.image(src=base + 'images/itcan-logo.png' width='130px' title="logo" alt="logo")
h1 Hi, #{name},
b Your Itcan Business Account has been downgraded to the free plan

p We were unable to charge your credit card for the amount of $29.99 for your use of the Itcan 
p Business account during the month of Nov-2020. As a result -

ul
    li You’ve been downgraded to the free plan. 
    li All of your projects are on hold , among which up to 3 projects can be unarchived
    li Projects that are on hold will be deleted 30 days later at 24 December, 2020

p To prevent any interruption or data loss upgrade to Itcan Business Account again.
a(href=base + 'billing') Upgrade to Itcan Business

hr
p Have questions? Need help? 
a(href=base + 'contact' ) Contact our support team 
p and we’ll get back to you in just a few minutes – promise


