img.image(src=base + 'images/itcan-logo.png' width='130px' title="logo" alt="logo")
h1 Hi #{name},
p Need to reset your Itcan password? Click the button below
a(href=base + 'forgot-password/reset/' + code) Reset password
p If you think you received this email by mistake, feel free to ignore it. 
p Thanks, <br>
The Itcan Team

hr
p Have questions? Need help? 
a(href=base + 'contact' ) Contact our support team 
p and we’ll get back to you in just a few minutes – promise