img.image(src=base + 'images/itcan-logo.png' width='130px' title="logo" alt="logo")
h1 Hi #{name},
p Your password has been successfully changed. If you did not request this change, please contact support immediately #{base}contact-us
p Thanks, <br>
The Itcan Team

hr
p Have questions? Need help? 
a(href=base + 'contact' ) Contact our support team 
p and we’ll get back to you in just a few minutes – promise