img.image(src=base + 'images/itcan-logo.png' width='130px' title="logo" alt="logo")
h1 Hi #{name},
b Greetings from Itcan,
p Your latest bill for Itcan Business is now available. Your account has been charged $29.99 and billed to your PayPal account. You may view your bill here.

hr
p Have questions? Need help? 
a(href=base + 'contact' ) Contact our support team 
p and we’ll get back to you in just a few minutes – promise