img.image(src=base + 'images/itcan-logo.png' width='130px' title="logo" alt="logo")
h1 Hi #{name},
b You've reached 3 projects limit of the Itcan Free Account

p You’ve created 3 projects in your Itcan free account, which means you're out of room for new
p projects. To prevent any interruption, get unlimited projects with a Itcan business membership at
p just $29.99 a month.

a(href=base + 'billing') Upgrade to Itcan Busniess

hr
p Have questions? Need help? 
a(href=base + 'contact' ) Contact our support team 
p and we’ll get back to you in just a few minutes – promise