img.image(src=base + 'images/itcan-logo.png' width='130px' title="logo" alt="logo")
h1 Hi #{name},
p Can’t remember your password? No worries, it happens! Just click the button below and follow the instructions to set a new one.
a(href=base + 'forgot-password/reset/' + code) Set a new password now

hr
p Have questions? Need help? 
a(href=base + 'contact' ) Contact our support team 
p and we’ll get back to you in just a few minutes – promise