img.image(src=base + 'images/itcan-logo.png' width='130px' title="logo" alt="logo")
h1 Hi #{name},
b We just wanted to confirm that your password has been updated.
p If you didn’t make this change, someone else may have access to your account.
p If you think that may be the case, please reply to this email and our support team will help you out.

hr
p Have questions? Need help? 
a(href=base + 'contact' ) Contact our support team 
p and we’ll get back to you in just a few minutes – promise