img.image(src=base + 'images/itcan-logo.png' width='130px' title="logo" alt="logo")
h1 You're almost there!
p(style={opacity: '0.8', 'font-size': '20px', 'font-weight': '700' }) Thank you for signing up for Itcan! Click the button below to verify your email, and we'll help you get started.
a(href=base + 'signup/last-step/' + code) 
    b Verify email address
p You received this email because you signed up for an Itcan account with this email address. If this was a mistake, ignore this email -- the account hasn't been created yet.

hr
p Have questions? Need help? 
a(href=base + 'contact' ) Contact our support team 
p and we’ll get back to you in just a few minutes – promise