img.image(src=base + 'images/itcan-logo.png' width='130px' title="logo" alt="logo")
h1 Welcome #{name},
p(style={opacity: '0.8', 'font-size': '20px', 'font-weight': '700' }) Thanks for signing up — your account’s ready to go!


p(style={opacity: '0.8', 'font-size': '20px', 'font-weight': '700' }) Your Itcan Personal account includes 500GB storage space with unlimited projects.  If you ever need a hand, please contact us directly at 
    a(href="help@itcan.com") help@itcan.com

p(style={opacity: '0.8', 'font-size': '20px', 'font-weight': '700' }) Thanks again and all the best,

p(style={opacity: '0.8', 'font-size': '20px', 'font-weight': '700' }) Team Itcan

hr
p Have questions? Need help? 
a(href=base + 'contact' ) Contact our support team 
p and we’ll get back to you in just a few minutes – promise