img.image(src=base + 'images/itcan-logo.png' width='130px' title="logo" alt="logo")
h1 Hi #{name},
b You're almost out of storage and users won't be able to upload new files


p You're using 0.9GB GB (90%) of the 1 GB of storage 
p available in your Itcan free account, which means 
p you're almost out of room for your Files. Once it's full, 
p you & other members in your projects may not be able to 
p upload files. To prevent any interruption, get more storage 
p with a Itcan business membership at just $29.99 a month. 

a(href=base + 'billing') Upgrade to Itcan Busniess

hr
p Have questions? Need help? 
a(href=base + 'contact' ) Contact our support team 
p and we’ll get back to you in just a few minutes – promise